In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [8]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                 columns=cols)
df

    A   B   C   D   E
0   6   7   5  18  19
1   8  13  19   5  16
2  18  14  12  11   7
3   3   5  17  13   3
4  18   3  16  17  13
5  14  11   8  12  16
6  18  14  17   8  15
7   8   9  18  10   9
8   6  15   3   9   1
9  15   7   4  16  16

In [9]:
df.shape

(10, 5)

In [ ]:
Note: Membagi data frame menjadi dua secara acak berdasarkan proporsi tertentu.

In [10]:
proporsi = 0.7
df_1 = df.sample(frac=proporsi)
df_2 = df.drop(df_1.index)

print(f'df_1 shape: {df_1.shape}')
print(f'df_2 shape: {df_2.shape}')

df_1 shape: (7, 5)
df_2 shape: (3, 5)

In [11]:
df_1

    A   B   C   D   E
9  15   7   4  16  16
5  14  11   8  12  16
6  18  14  17   8  15
0   6   7   5  18  19
7   8   9  18  10   9
4  18   3  16  17  13
2  18  14  12  11   7

In [12]:
df_2

   A   B   C   D   E
1  8  13  19   5  16
3  3   5  17  13   3
8  6  15   3   9   1